<% provide(:title, "Hostel") %>
<h1>Hostel</h1>
<p class="area_name">北海道</p>

<div class="hotel_spacing">
    <p class="hotel_name"><a href="https://www.nupka.jp/">1. HOTEL NUPKA</a></p>
    <div class="image_list">
    <%=link_to image_tag("NUPKA main.jpg", alt:"NUPKA_image", class:"hostel_image")%>
    <%=link_to image_tag("NUPKA DORM.png", alt:"NUPKA_image", class:"hostel_image")%>
    <%=link_to image_tag("NUPKA room.png", alt:"NUPKA_image", class:"hostel_image")%>
    </div>
</div>

<ul class="hotel_info">
    <li>〒080-0012</li>
    <li>北海道帯広市西2条南10丁目20-3　MAP：<a href="https://goo.gl/maps/G1D1GgBkrsX7ZSYt5">Google map</a></li>
    <li>TEL 0155-20-2600</li>
    <li>Room type: Male dormitory, Female dormitory, Single room, Double room</li>
</ul>

<div class="hotel_spacing">
    <p class="hotel_name"><a href="https://www.gogogenya.com/">2. 屈斜路原野ユースゲストハウス</a></p>
    <div class="image_list">
    <%=link_to image_tag("屈斜路 main.jpg", alt:"屈斜路_image", class:"hostel_image")%>
    <%=link_to image_tag("屈斜路 active.jpg", alt:"屈斜路_image", class:"hostel_image")%>
    <%=link_to image_tag("屈斜路 room.jpg", alt:"屈斜路_image", class:"hostel_image")%>
    </div>
</div>

<ul class="hotel_info">
    <li>〒088-3341</li>
    <li>北海道川上郡弟子屈町字屈斜路原野443-1　MAP：<a href="https://goo.gl/maps/NFhDrR6e6S6nSEz59">Google map</a></li>
    <li>TEL 015-484-2609</li>
    <li>Room type: </li>
</ul>

<div class="hotel_spacing">
    <p class="hotel_name"><a href="">3. </a></p>
    <div class="image_list">
    <%=link_to image_tag("", alt:"", class:"hostel_image")%>
    <%=link_to image_tag("", alt:"", class:"hostel_image")%>
    <%=link_to image_tag("", alt:"", class:"hostel_image")%>
    </div>
</div>

<ul class="hotel_info">
    <li></li>
    <li>　MAP：<a href="">Google map</a></li>
    <li>TEL</li>
    <li>Room type: </li>
</ul>

<div class="hotel_spacing">
    <p class="hotel_name"><a href="">4. </a></p>
    <div class="image_list">
    <%=link_to image_tag("", alt:"", class:"hostel_image")%>
    <%=link_to image_tag("", alt:"", class:"hostel_image")%>
    <%=link_to image_tag("", alt:"", class:"hostel_image")%>
    </div>
</div>

<ul class="hotel_info">
    <li></li>
    <li>　MAP：<a href="">Google map</a></li>
    <li>TEL</li>
    <li>Room type: </li>
</ul>