<% provide(:title, "Hostel") %>
<h1>Hostel</h1>
<p class="top_name">北海道</p>

<div class="hotel_spacing">
    <p class="hotel_name"><a href="https://www.nupka.jp/">1. HOTEL NUPKA</a></p>
    <div class="image_list">
    <%=link_to image_tag("NUPKA main.jpg", alt:"NUPKA_image", class:"hostel_image")%>
    <%=link_to image_tag("NUPKA DORM.png", alt:"NUPKA_image", class:"hostel_image")%>
    <%=link_to image_tag("NUPKA room.png", alt:"NUPKA_image", class:"hostel_image")%>
    </div>
</div>
<ul class="hotel_info">
    <li>〒080-0012</li>
    <li>北海道帯広市西2条南10丁目20-3　MAP：<a href="https://goo.gl/maps/G1D1GgBkrsX7ZSYt5">Google map</a></li>
    <li>TEL 0155-20-2600</li>
    <li>Room type: Male dormitory, Female dormitory, Single room, Double room</li>
</ul>

<div class="hotel_spacing">
    <p class="hotel_name"><a href="https://www.gogogenya.com/">2. 屈斜路原野ユースゲストハウス</a></p>
    <div class="image_list">
    <%=link_to image_tag("屈斜路 main.jpg", alt:"屈斜路_image", class:"hostel_image")%>
    <%=link_to image_tag("屈斜路 active.jpg", alt:"屈斜路_image", class:"hostel_image")%>
    <%=link_to image_tag("屈斜路 room.jpg", alt:"屈斜路_image", class:"hostel_image")%>
    </div>
</div>
<ul class="hotel_info">
    <li>〒088-3341</li>
    <li>北海道川上郡弟子屈町字屈斜路原野443-1　MAP：<a href="https://goo.gl/maps/NFhDrR6e6S6nSEz59">Google map</a></li>
    <li>TEL 015-484-2609</li>
    <li>Room type: </li>
</ul>

<div class="hotel_spacing">
    <p class="hotel_name"><a href="">3. </a></p>
    <div class="image_list">
    <%=link_to image_tag("", alt:"", class:"hostel_image")%>
    <%=link_to image_tag("", alt:"", class:"hostel_image")%>
    <%=link_to image_tag("", alt:"", class:"hostel_image")%>
    </div>
</div>
<ul class="hotel_info">
    <li></li>
    <li>　MAP：<a href="">Google map</a></li>
    <li>TEL</li>
    <li>Room type: </li>
</ul>

<div class="hotel_spacing">
    <p class="hotel_name"><a href="">4. </a></p>
    <div class="image_list">
    <%=link_to image_tag("", alt:"_image", class:"hostel_image")%>
    <%=link_to image_tag("", alt:"_image", class:"hostel_image")%>
    <%=link_to image_tag("", alt:"_image", class:"hostel_image")%>
    </div>
</div>
<ul class="hotel_info">
    <li></li>
    <li>　MAP：<a href="">Google map</a></li>
    <li>TEL</li>
    <li>Room type: </li>
</ul>

<p class="area_name">青森</p>
<div class="hotel_spacing">
    <p class="hotel_name"><a href="https://www.booking.com/hotel/jp/hostel-hirosaki.ja.html?aid=304142;label=gen173nr-1FCAEoggI46AdIFVgEaHWIAQGYARW4AQfIAQzYAQHoAQH4AQKIAgGoAgM;all_sr_blocks=558248801_208977070_1_0_0;checkin=2020-07-07;checkout=2020-07-08;dest_id=4524;dest_type=region;dist=0;group_adults=1;group_children=0;hapos=21;highlighted_blocks=558248801_208977070_1_0_0;hpos=21;no_rooms=1;req_adults=1;req_children=0;room1=A;sb_price_type=total;sr_order=popularity;sr_pri_blocks=558248801_208977070_1_0_0__250000;srepoch=1592655106;srpvid=d84f55c1f8b10061;type=total;ucfs=1&#hotelTmpl">1. ホステル弘前</a></p>
    <div class="image_list">
    <%=link_to image_tag("弘前.main.jpg", alt:"弘前_image", class:"hostel_image")%>
    <%=link_to image_tag("弘前.lobby.jpg", alt:"弘前_image", class:"hostel_image")%>
    <%=link_to image_tag("弘前.room.jpg", alt:"弘前_image", class:"hostel_image")%>
    </div>
</div>
<ul class="hotel_info">
    <li>〒036-8002</li>
    <li>青森県弘前市駅前1丁目2-1　MAP：<a href="https://g.page/hostelhirosaki?share">Google map</a></li>
    <li>TEL: 070-4339-3537</li>
    <li>Room type: Mix dormitory </li>
</ul>

<p class="area_name">福島</p>
<div class="hotel_spacing">
    <p class="hotel_name"><a href="http://www006.upp.so-net.ne.jp/atoma/">1. ユースゲストハウスATOMA</a></p>
    <div class="image_list">
    <%=link_to image_tag("ATOMA.main.jpg", alt:"ATOMA_image", class:"hostel_image")%>
    <%=link_to image_tag("ATOMA.lobby.jpg", alt:"ATOMA_image", class:"hostel_image")%>
    <%=link_to image_tag("ATOMA.room.jpg", alt:"ATOMA_image", class:"hostel_image")%>
    </div>
</div>
<ul class="hotel_info">
    <li>〒960-2151</li>
    <li>福島県福島市桜本舟石１５−２　MAP：<a href="https://g.page/go-atoma?share">Google map</a></li>
    <li>TEL 024-591-2523</li>
    <li>Room type: Triple, Double, Modern room, Group room</li>
</ul>

<div class="hotel_spacing">
    <p class="hotel_name"><a href="https://yumori-hostel.jp/">2. YUMORI ONSEN HOSTEL</a></p>
    <div class="image_list">
    <%=link_to image_tag("YUMORI.main.jpg", alt:"YUMORI_image", class:"hostel_image")%>
    <%=link_to image_tag("YUMORI.lobby.jpg", alt:"YUMORI_image", class:"hostel_image")%>
    <%=link_to image_tag("YUMORI.room.jpg", alt:"YUMORI_image", class:"hostel_image")%>
    </div>
</div>
<ul class="hotel_info">
    <li>〒960-2157</li>
    <li>福島県福島市土湯温泉町堂ノ上７−１　MAP：<a href="https://goo.gl/maps/T8mbAf6YZhMKuwzX7">Google map</a></li>
    <li>TEL 024-595-2170</li>
    <li>Room type: Japanese-style room, Superior twin, Studio room, Family room, Suite room</li>
</ul>

<p class="area_name">栃木</p>

<div class="hotel_spacing">
    <p class="hotel_name"><a href="https://chus-nasu.com/">1. Chus</a></p>
    <div class="image_list">
    <%=link_to image_tag("Chus.main.jpg", alt:"Chus_image", class:"hostel_image")%>
    <%=link_to image_tag("Chus.lobby.jpg", alt:"Chus_image", class:"hostel_image")%>
    <%=link_to image_tag("Chus.room.png", alt:"Chus_image", class:"hostel_image")%>
    </div>
</div>
<ul class="hotel_info">
    <li>〒325-0045</li>
    <li>栃木県那須塩原市高砂町６−３　MAP：<a href="https://goo.gl/maps/zz9AHBdExqvaZCpcA">Google map</a></li>
    <li>TEL 0287-74-5156</li>
    <li>Room type: Dormitory, Double, Twin, Loft, Futon</li>
</ul>