<% @user.lodge.each do |lodge| %>
  <p class="hotel_name"><%= link_to lodge.lodge, lodge.hp_link %></p>
  <%= image_tag lodge.image.to_s %>　<%= image_tag lodge.image2.to_s %>　<%= image_tag lodge.image3.to_s %>
  <ul class=hotel_info>
  <li><%= lodge.postal_code %></li>
  <li><%= lodge.prefecture %><%= lodge.address %></li>
  <li><%= lodge.phone_number %></li>
  <li><%= lodge.roomtype %></li>
  </ul>
<% end %>